*{
    margin: 0;
    padding: 0;
    background-color: orangered;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    color: white;
    gap: 30px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 20px;
    background-color: black;
    font-size: 20px;
    color: white;
}

#input{
    background-color: orange;
}

#btn{
    color: white;
}